* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    margin: 60px;
}

h1 {
    text-align: center;
}

h2 {
    text-align:center;
}

.choicebox {
    display: flex;
    justify-content:space-around;
    border-top: 5px solid black;
}

img {
    width: 200px;
    height: auto;
    margin: 50px 0px;
}

.choicebox2 {
    display: flex;
    justify-content:space-around;
    
}

button {
    margin: 50px 0px;
}

.resultbox {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
}

.info {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.resultbox2 {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
    border-bottom: 5px solid black;
}

.resultbox2 > .compWins, .humWins {
    margin-bottom: 100px;
}